@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --ff-primary: "Roboto", sans-serif;
}

* {
    font-family: var(--ff-primary);
    text-transform: capitalize;
    font-size: 1.5rem;
}

.nav {
    /* min-height: 80vh; */
    /* margin-top: 10%; */
    /* min-height: 20vh; */
    /* margin-top: 250px; */
    display: grid;
    place-items: center;
    /* background-color: red; */
}

.container {
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    padding-top: 50px;
}

.gameContainer {
    /* the container is a grid with 9 items in it */
    display: grid;
    /* grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw); */

    grid-template-rows: repeat(3, 3.5rem);
    grid-template-columns: repeat(3, 3.5rem);
    /* background-color: indigo; */
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    /* hamko box ke andar ki text ko center pr laana hai (i.e. boxText ko. so let's make it display-flex and then have justify-content-center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover {
    background-color: rgb(180, 178, 178);
}

.box span {
    font-size: 3.5rem;
}

.gameInfo {
    padding: 0 35px;
    background-color: palevioletred;
}
.gameInfo h4 {
    margin-bottom: 0;
}


.br {
    border-right: 0;
}
.bl {
    border-left: 0;
}
.bt {
    border-top: 0;
}
.bb {
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 6px 14px;
    cursor: pointer;
    /* background-color: rgb(180, 178, 178);
    border-radius: 6px; */
    font-size: 15px;
    /* font-weight: 700; */
}

.info {
    font-size: 25px;
}

/* media-query && flex-wrap for making the screen responsive */
@media screen and (max-width: 800px) {
    .container{
        flex-wrap: wrap;
    }
}

